@tailwind base;
@tailwind components;
@tailwind utilities; 

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track-piece  {
  background-color: #00000033;
  
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #33333333;
  -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #4b6584;
  -webkit-border-radius: 6px;
}

.blur-background {
  border-radius: 10.313px;
  border: 0.645px solid rgba(255, 255, 255, 0.33);  
  background: rgba(115, 115, 115, 0.2);  
  backdrop-filter: blur(2.9004738330841064px);
}

.input_login{
  border-radius: 5.156px;
  border: 0.645px solid #4D4D4D;
  background: rgba(255, 255, 255, 0.21);
}


/*
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}

*/